<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include("components/header.ejs") -%>
    <h2>About</h2>
    <a href="/">Main</a>
</body>
</html>
