<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node JS</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include("components/header.ejs") -%>
    <h1>Main page</h1>

    <form method="post" action="/check-user">
        <input type="text" name="checkName" placeholder="Имя пользователя">
        <button type="submit">Поиск</button>
    </form>

    <form method="post" action="/users">
        <input type="text" name="userName" placeholder="Имя пользователя">
        <input name="userSkills" placeholder="Умение">
        <button type="submit">Добавить пользователя</button>
    </form>
</body>
</html>
